.App {
  text-align: center;
}
.logo{
  text-align: left;
  background-color: beige;
  width: 20%;
  border-radius: 2vw;
}
.result{
  text-decoration: underline 2px solid black;
}
*{
  background-color: rgb(177, 231, 231);
}


.buttons{
  position:absolute;
  display: grid;
  column-gap: 5px;
  grid-template-columns: 5vw 5vw 5vw;
  width: 50%;
  margin: 1vw 0 0 17vw;
  
  
}

button {
  background-color: rgb(135, 197, 222);
  width: 5vw;
  height: 5vw;
  font-size: 3vw;
  text-shadow: cornsilk 1px 1px;
}

.all{
  width: 50%;
  margin: 0 auto;
  
}

input{
  width: 20vw;
  height: 3vw;
  font-size: 2vw;
  background-color: aliceblue;
}
.equals{
  background-color: rgb(194, 190, 245);
}